{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">

<div class="container my-3">
    <h2 class="border-bottom py-2">저자명 검색</h2>

    <form method="post" class="post-form my-3">
        {{ form.csrf_token }}

        {{ form.author.label }}
        {{ form.author(class='form-control') }}

    <button type="submit" class="btn btn-primary my-2">검색하기</button>
    </form>


    {% if df %}
    <table class="table">
        <thead>
            <tr class="text-center thead-dark">
                <th style="width:60%">도서명</th>
                <th>저자</th>
                <th>출판사</th>
                <th>가격</th>
            </tr>
        </thead>
        <tbody>
            {% for row in df %}
            <tr class="text-center">
                <td>{{ row['title'] | safe }}</td>
                <td>{{ row['author'] | safe }}</td>
                <td>{{ row['publisher'] | safe }}</td>
                <td>{{ row['price'] | safe }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}

{% endblock %}