{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">

<div class="container my-3">
    <h2 class="border-bottom py-2">네이버 영화 순위 검색</h2>


    <form method="post" class="post-form my-3">


        <button type="submit" class="btn btn-primary my-2">검색하기</button>
    </form>



    {% if titles %}
    <table class="table">
        <thead>
            <tr class="text-center thead-dark">
                <th style="width:6%">순위</th>
                <th>포스터</th>
                <th style="width:40%">영화명</th>
                <th>평점</th>
                <th>감독</th>
                <th>배우</th>

            </tr>
        </thead>
        <tbody>
            {% for title in titles %}
            <tr class="text-center">
                <td>{{ loop.index }}</td>
                <td>{{ title[0] | safe }}</td>
                <td>{{ title[1] }}</td>
                <td>{{ title[2] }}</td>
                <td>{{ title[3] }}</td>
                <td>{{ title[4] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


    {% endif %}



</div>



{% endblock %}


