{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='bootstrap.min.css')}}">

<div class="container my-3">
    <h2 class="border-bottom py-2">최저가 상품 주문하기</h2>

    <form method="post" class="post-form my-3">
        {{ form.csrf_token }}

        <table class="table">
            <thead>
                <tr class="text-center thead-dark">
                    <th>상품 이미지</th>
                    <th>상품명</th>
                    <th>최저가</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center">
                    <td><img src={{ simage }} height="100" width="100" alt="My Image"></td>
                    <td>{{ stitle | safe }}</td>
                    <td>{{ slprice | price_comma }}원</td>
                </tr>
            </tbody>
        </table>

        {{ form.address.label }}
        {{ form.address(class='form-control') }}
        <input type="hidden" name="title" value="{{stitle}}">
        <input type="hidden" name="lprice" value="{{slprice}}">
        <input type="hidden" name="image" value="{{simage}}">
        <button type="submit" class="btn btn-primary my-2">주문하기</button>
    </form>




</div>



{% endblock %}
